
:root{
    --bg: #f5f7fa;
    --card: #ffffff;
    --text: #1c1c1c;
    --accent: #0077ff;
}



*{
    box-sizing:border-box
}


body{
    margin:0;
    background:var(--bg);
    color:var(--text);
    font-family:system-ui, -apple-system, Arial
}



header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem 1.2rem;
    background:#027b69;
    border-bottom:1px solid #253156
}



h1{
    margin:0;
    font-size:1.2rem
}



nav a{
    color:var(--text);
    margin-left:1rem;
    text-decoration:none;
    opacity:.9
}



main{
    max-width:980px;
    margin:1rem auto;
    padding:0 1rem
}



.card{
    background:var(--card);
    border:1px solid #283763;
    border-radius:16px;
    padding:1rem;
    margin:.8rem 0;
    box-shadow:0 8px 24px rgba(0,0,0,.25)
}



input[type="file"], select, input[type="number"]{
    background:#1ac8fd;
    border:1px solid #253156;
    border-radius:10px;
    color:var(--text);
    padding:.5rem;
    margin-right:.6rem
}



button, .btn{
    background:var(--accent);
    color:#01387b;
    border:none;
    border-radius:10px;
    padding:.5rem .9rem;
    cursor:pointer;
    text-decoration:none;
    display:inline-block
}



table{
    width:100%;
    border-collapse:collapse;
    margin-top:.5rem;
    background:#abb2d3
}


th,td{
    border:1px solid #253156;
    padding:.5rem .6rem
}


.flashes{
    list-style:none;
    padding:0
}


.flashes li{
    background:#273669;
    border:1px solid #2d3f74;
    padding:.4rem .6rem;
    border-radius:8px;
    margin:.3rem 0
}



.small{
    font-size:.8rem;
    color:#888
}



.inline{
    display:inline-flex;
    gap:.5rem;
    align-items:center
}



.actions{
    display:flex;
    gap:.8rem;
    align-items:center;
    margin-top:.8rem
}
